ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f00000;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: rgb(250, 84, 84);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #18f2dc;
  }